html {
  margin: 2em;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;
}

#pixel-art {
  font-family: 'Press Start 2P', cursive;
  font-size: 8em;
  text-align: center;
  border: dotted 2px black;
  padding-top: 10px;
}

/* buttons */
.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#clear-grid {
  background-color: rgb(253, 47, 10);
  
}

#clear-grid:hover {
  background: rgb(158, 3, 3);
}

#create-grid {
  color: rgb(24, 24, 24);
  background-color: chartreuse;
}

#create-grid:hover {
  background: rgb(0, 133, 0);
}

#reset-grid {
  background: rgb(158, 3, 3);
}
#reset-grid:hover {
  background: rgb(253, 47, 10);
}

/* input fields*/
#spalten, #zeilen{
  border-radius: .2em;
  font-size: 1em;
}


/* coloring area */
#art {
  display:table;
  
  border-spacing: 1px;
  background-color: black;
  margin-top: 1em;
}

#palette {
  margin-top: 1em;
  margin-bottom: 1em;
}

#colors {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 3em;
}

#user-info {
margin-bottom: 1em;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
}

.pen {
  display: inline-block;
  margin-top: .5em;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

label {
  font: 1rem 'Fira Sans', sans-serif;
}